#aboutFlow{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    @media only screen and (max-width:700px){
       
          flex-direction:column;
    }
}
.flowAbout{
    width:50%;
    margin:auto;
}
.contact-header{
    line-height:1.0;
    h1{
        margin-top:0;
    }
}