form{
    display:grid;
    font-size:3rem;
    width:80%;
    label{
        display:grid;
        grid-template-columns: auto auto;
        // justify-content: space-evenly;
        text-align: right;
    }
}