footer{
    text-align:center;
    margin:auto;
    height:12%;
    display:flex;
    background:#add8e6;
    @media only screen and (min-width:800px){
        position:absolute;
        bottom:0;
    }
 
    padding:.5rem;
    width:100%;
    a{
        height:100%;
        margin:auto;
        text-decoration:none;
        img{
            height:90%;
        }
    }
    
}