nav{
    text-align:center;
    // margin:1rem 0 0 0;
    width:100vw;
    
}
ul{
    display:flex;
    width:60%;
    justify-content: space-evenly;
    margin:auto;
    padding:0;
}
li{
    display:inline;
    margin: 1rem 1.6rem 0 1.6rem;
    //sai
    a{
        border-top-left-radius:1.5rem;
        border-top-right-radius:1.5rem;
        background-color:teal;
        color:white;
        font-size:9vh;
        text-decoration:none;
        padding:0 .8rem 0 .8rem;
        &:link{
            color:white;
        }
        &:visited{
            color:inherit;
        }
        &:hover{
            color:white;
            font-size:12vh;
        }
        &:active{
            color:#5b1865;
        }
    }
    @media only screen and (max-width:1060px){
    margin:0;
    a{  font-size:10vw;
        &:hover{
            font-size:10vw;
        }
    }
    }
}