nav{
    text-align:center;
    margin:1rem 0 1rem 0;
    width:100%;
}
ul{
    display:flex;
    justify-content: space-evenly;
    
}
li{
    display:inline;
    margin: 2rem;
    //sai
    a{
        border-radius:1.5rem;
        background-color:teal;
        font-size:4.5rem;
        text-decoration:none;
        padding:0 1rem .25rem 1rem;
    }
}