nav{
    text-align:center;
}
ul{
    list-style-type:none;
    
}
li{
    display:inline;
    // background-color:teal;
    // border-radius:10rem;
    // height:3.7rem;
}
a{
    border-radius:1.5rem;
    background-color:teal;
    font-size:3.5rem;
    text-decoration:none;
}