#projecto{
    display:flex;
    flex-direction:row;
    article{
        width:100%;
    }
    article{
        font-size:1.2rem;
        padding-right:1rem;
    }   
     @media only screen and (max-width:1200px){
        flex-wrap:wrap;
        img{
            height:60%;
            margin:auto;
        }
    }
}
.projectPanel{
    display:flex;
    flex-direction:row;
}

.projectFig{
    width:100%;
    height:auto;

    iframe{
        height:90%;
    }
    div{
        height:90%;
    }
}
#door{
    font-size:2rem;
}