html{
  height:100%;
  margin:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:beige;
  color:black;
  height:100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#mainSection{
  height:70%;
  min-height:65%;
  max-height:70%;
  margin:1rem;
}
#bodyApp{
  width:80%;
  min-width:50%;
  height:35rem;
  margin:auto;
  border: 2px black solid;
  border-radius:3rem;
  text-align:center;
}
figure img{
  height:15rem;
}
*{
  box-sizing:border-box;
}